/* main {
  padding: 2rem;
  font-family: sans-serif;
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
}

form table {
  width: 100%;
  border-spacing: 10px;
}

input {
  width: 100%;
  padding: 0.5rem;
}

button {
  width: 100%;
  padding: 0.7rem;
  background: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005ecb;
} */
